$snow: #F9FAFC;
$dark-snow: #EFF2F7;

$dark-smoke: #D3DCE6;
$extra-dark-smoke: #C0CCDA;

$silver: #8492A6;
$slate: #3C4858;
$steel: #273444;
$black: #262626;

$dark-marvel: #009EEB;

.sidebar {
  z-index: 2;
  width: 250px;
  background-color: $dark-snow;
  ul {
    li {
      list-style: none;
      a {
        cursor: pointer;
        color: $black;
      }
      &#sidebar-header {
        padding: 50px 20px 10px 0px;
        a {
          color: $silver;
        }
      }
    }
  }
}

.overlay {
  opacity: 0 !important;
}

.header {
  padding: 20px;
  background-color: #ffffff;
  border-bottom: solid 1px $dark-snow;
  height: 50px;

  #menu-toggle {
    font-size: 24px;
    color: $black;
    font-weight: 100;
    position: absolute;
    top: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

#message-list {
  height: 1200px;
  overflow: scroll;
}

.message {
  padding: 20px;
  .user-photo {
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid $black;
    border-radius: 4px;
  }
  .message-header {
    display: block;
    h4 {
      padding: 0px 5px 0px 5px;
      display: inline-block;
      margin: 0px;
    }
    p.display-time {
      margin: 0px;
      display: inline-block;
      color: $extra-dark-smoke;
    }
  }
  p.message-text {
    color: $black;
    margin-left: 45px;
  }
  &:hover {
    background-color: $snow;
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px 10px 20px 10px;
  padding: 5px;
  height: 70px;
  background-color: #ffffff;
  border-top: solid 1px $dark-snow;
  input {
    margin-top: 10px;
    padding: 10px;
    border: solid 2px $black;
    border-radius: 4px;
    padding: 10px;
    &:focus {
      outline: none;
    }
  }
  #message-form {
    input {
      width: 100%;
    }
  }
  #name-form {

  }
}
